<div id="all_posts">

<div class="post-title"><%= post.title %></div>



    <div class="post-content"><%= post.content %></div>
  <%if user_signed_in?%>
  <p>
    <strong>Author</strong>
    <% author = User.find(post.user_id)%>
    <%= author.name%>
  </p>
  <%end%>
</div>
