<% content_for :title, "Editing post" %>



<%= render "form", post: @post %>

<br>

<div class="post-control">
  <%= link_to "Show this post", @post, class: "back-post-link"%> 
  <%= link_to "Back to posts", posts_path, class: "back-post-link"%>
</div>
