<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>


<div id="posts">
  <% @posts.each do |post| %>
    <div class="post-container">
    <%= link_to post do %>
      <%= render post %>
    <%end%>
    </div>
  <% end %>
  
</div>

<%# <%= link_to "New post", new_post_path %>
