
<%= render partial: "post_show", locals: { post: @post } %>


<div>
  <%= link_to "Edit this post", edit_post_path(@post) unless !user_signed_in? %>
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
