/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /* .btn {
    width: 100px;
    height: 200px;
 }
 .btn-logout {
    background-color: black;
 } */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   text-decoration: none;
   margin: 0;
   padding: 0;
}
 
a, a:visited, a:hover, a:active {
   color: inherit;
 }


 .post-title {
   font-size: 1.5rem;
   font-family: "Montserrat", sans-serif;
 }



.footer {
   width: 100%;
   height: 50px;
   background-color: rgb(139, 69, 69);
    position: sticky;
   bottom: 0px; 
}
body {
   height: 100vh;
   display: flex;
   flex-direction: column;
}

/*  HEADER ELEMENTS */

.header {
   height: 100px;
   width: 100%;
   position: sticky;
   top: 0px;
   /* left: 1px; */
   background-color:#92AD94;
   display: flex;
   justify-content: space-evenly;
   z-index: 100;
}
.left-side {
   display: flex;
   align-items: center;
   gap: 25px;
}
.img-header {
   height: 80px;
   width: auto;
}

.right-side {
   align-self: center;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
}

/* MIDDLE CONTENT */

.container {
   flex-grow: 1;
   display: grid;
   grid-template-columns: 0.5fr 2fr 0.5fr;
   /* padding: 1em; */
}

.middle {
   display: flex;
   flex-direction: column;
   /* align-self: center; */
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   width: 100%;
   
}

.post-container {
   border: 1px solid black;
   border-radius: 10px;
   border-left: 2px solid gold;
   padding: 1em;
   background-color: aliceblue;
   height: 120px;
   width: 220px;
   align-items: center;
   justify-self: center;
   position: relative;
   transition: 0.5s;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#all_posts {
   display: grid; 
   grid-template-rows: 0.5fr 1.2fr 0.5fr;
    gap: 10px; 
    flex-grow: 1;

} 

.post-container:hover {
   transform: translatey(-3px);

}

.post-content {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   line-clamp: 2;
   -webkit-box-orient: vertical;
   word-break: break-all;
   overflow: hidden;
   
}
.post-container .post-title{
   /* font-size: 300px; */
   /* filter: blur(5px); */
}
#posts { 
   /* margin-top: 10px; */
   padding-top: 10px;
   padding-bottom: 10px;
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   row-gap: 20px;
   /* background-color: #36743a; */
   flex-grow: 1;
   width: inherit;
   /* padding-top: 20px; */
   align-items: center;

   
}



.blur{
   filter: blur(5px);
   /* pointer-events: none; */
   user-select: none;
}
.tooltiptext {
   visibility: hidden;
  width: 150px;
  /* height: 30px; */
  font-size: 0.8rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: ;
  z-index: 1;
}
.author-name:hover .tooltiptext {
   visibility: visible;
   transition: 0.5s;
}
/* LEFT-SIDE CONTENT */
.left-login a, .create-post-btn {
   background-color: rgb(131, 119, 119);
   /* text-emphasis-color: ; */
   color: white;
   border: 1px dotted black;
   border-radius: 20px;
   padding: 0.5em 1em;
   /* z-index: ; */
   /* size: 20px; */
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left-login h2 {
   align-self: center;
}
.left-login, .left-logged-in {
   display: flex;
   flex-direction: column;
   /* grid-auto-rows: auto; */
   align-items: center;
   /* justify-content: center; */
   text-align: center;
   height: 350px;
   justify-content: space-evenly;
   /* z-index: 100; */
   /* width: 350px; */
   position: sticky;
   top: 80px;
}
.left-side-page {
   display: flex;
   flex-direction: column;
}