/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /* .btn {
    width: 100px;
    height: 200px;
 }
 .btn-logout {
    background-color: black;
 } */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   text-decoration: none;
   margin: 0;
   padding: 0;
}
 html {
   scrollbar-gutter: stable;
 }
a, a:visited, a:hover, a:active {
   color: inherit;
 }


 .post-title {
   font-size: 1.5rem;
   font-family: "Montserrat", sans-serif;
 }



.footer {
   width: 100%;
   height: 50px;
   background-color: rgb(139, 69, 69);
    position: sticky;
   bottom: 0px; 
}
body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
}

/*  HEADER ELEMENTS */

.header {
   height: 100px;
   width: 100%;
   position: sticky;
   top: 0px;
   /* left: 1px; */
   background-color:#92AD94;
   display: flex;
   justify-content: space-evenly;
   z-index: 100;
}
.left-side {
   display: flex;
   align-items: center;
   gap: 25px;
}
.img-header {
   height: 80px;
   width: auto;
}

.right-side {
   width: 210px;
   align-self: center;
   display: grid;
   grid-template-columns: repeat(3,1fr);
      align-items: center;
      gap: 10px;
}

/* MIDDLE CONTENT */

.container {
   flex-grow: 1;
   display: grid;
   grid-template-columns: 0.5fr 2.5fr 0.5fr;
   /* padding: 1em; */
}

.middle {
   display: flex;
   flex-direction: column;
   /* align-self: center; */
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   width: 100%;
   box-sizing: border-box;
   overflow: hidden;
}

.post-container {
   border: 1px solid black;
   border-radius: 10px;
   border-left: 2px solid gold;
   padding: 1em;
   background-color: aliceblue;
   height: 120px;
   width: 220px;
   align-items: center;
   justify-self: center;
   position: relative;
   transition: 0.5s;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
#all_posts {
   display: grid; 
   grid-template-rows: 0.5fr 1.2fr 0.5fr;
    gap: 10px; 
    flex-grow: 1;

} 

.post-container:hover {
   transform: translatey(-3px);

}
.post-title {
   height: 30px;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
   /* overflow-x: hidden; */
   -webkit-overflow-scrolling: ;
   /* overflow: hidden; */
   word-break: break-all;
}

.post-content {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   line-clamp: 2;
   -webkit-box-orient: vertical;
   word-break: break-all;
   overflow: hidden;
   
}
.post-container .post-title{
   /* font-size: 300px; */
   /* filter: blur(5px); */
}
#posts { 
   /* margin-top: 10px; */
   padding-top: 10px;
   padding-bottom: 10px;
   display: grid;
   /* grid-row: 200px; */
   grid-auto-rows: 180px;
   /* border: 1px solid #ccc; */
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   column-gap: 1px;
   row-gap: 20px;
   /* background-color: #36743a; */
   flex-grow: 1;
   width: inherit;
   /* padding-top: 20px; */
   align-items: center;
   box-sizing: border-box;
   
}



.blur{
   filter: blur(5px);
   /* pointer-events: none; */
   user-select: none;
}
.tooltiptext {
   visibility: hidden;
  width: 150px;
  /* height: 30px; */
  font-size: 0.8rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: ;
  z-index: 1;
  /* transition: 1s; */
}
.author-name:hover .tooltiptext {
   visibility: visible;
   transition: 1s;
}
/* LEFT-SIDE CONTENT */
.left-login a, .create-post-btn {
   background-color: rgb(131, 119, 119);
   /* text-emphasis-color: ; */
   color: white;
   border: 1px dotted black;
   border-radius: 20px;
   padding: 0.5em 1em;
   /* z-index: ; */
   /* size: 20px; */
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.left-login h2 {
   align-self: center;
}
.left-login, .left-logged-in  {
   display: flex;
   flex-direction: column;
   /* grid-auto-rows: auto; */
   align-items: center;
   /* justify-content: center; */
   text-align: center;
   height: 350px;
   justify-content: space-evenly;
   /* z-index: 100; */
   /* width: 350px; */
   position: sticky;
   top: 80px;
}
.left-side-page {
   display: flex;
   flex-direction: column;
}

/* RIGHT SIDE CONTENT */
.right-side-page {
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   /* justify-content: space-evenly; */
}
.right-side-title h1{
   display: flex;
   align-items: flex-end;
   justify-content: flex-end; 
   justify-items: flex-end;
    transform: translateY(50%);
}
.right-side-recent {
   display: grid;
   grid-template-columns: 1fr;
   /* grid-template-rows: repeat(5, minmax(1fr, 250px)); */
   grid-auto-rows: 100px;
   row-gap: 50px;
   /* row-gap: 30px; */
   /* grid-row: repeat(5, minmax(2fr, 200px); */
   /* grid-template-rows: repeat(auto-fit,minmax(120px, 0.8fr)); */
   /* gap: 20px; */
   /* justify-content: space-evenly; */
   /* flex-direction: column; */
    position: sticky;
   top: 80px; 
   /* height: 750px; */
   align-items: center;
   justify-content: center;
   justify-items: center;
   /* width: 100%; */
}
.last-four-posts {
   /* justify-self: ; */
   height: 120px;
   width: 200px;
   border: 1px solid black;
   /* width: 250px; */
   margin-right: 20px;
   align-items: center;
   justify-self: center;

}