/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /* .btn {
    width: 100px;
    height: 200px;
 }
 .btn-logout {
    background-color: black;
 } */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   text-decoration: none;
   margin: 0;
   padding: 0;
}
  #all_posts {
   display: grid; 
    gap: 5px; 
    flex-direction: column;
    flex-grow: 1;
  } 



 .post-title {
   font-size: 1.5rem;
   font-family: "Montserrat", sans-serif;
 }



.footer {
   width: 100%;
   height: 50px;
   background-color: rgb(139, 69, 69);
    position: sticky;
   bottom: 0px; 
}
body {
   height: 100vh;
   display: flex;
   flex-direction: column;
}

/*  HEADER ELEMENTS */

.header {
   height: 100px;
   width: 100%;
   position: sticky;
   top: 0px;
   /* left: 1px; */
   background-color:#92AD94;
   display: flex;
   justify-content: space-evenly;
   z-index: 100;
}
.left-side {
   display: flex;
   align-items: center;
   gap: 25px;
}
.img-header {
   height: 80px;
   width: auto;
}

.right-side {
   align-self: center;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
}

/* MIDDLE CONTENT */

.container {
   flex-grow: 1;
   display: grid;
   grid-template-columns: 0.5fr 2fr 0.5fr;
}

.middle {
   display: flex;
   flex-direction: column;
   /* align-self: center; */
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   width: 100%;
   /* justify-content: space-around; */
}

.post-container {
   border: 1px solid black;
   border-radius: 10px;
   border-left: 2px solid gold;
   padding: 1.5em;
   background-color: aliceblue;
   height: 150px;
   width: 250px;
}
.post-container .post-title{
   /* font-size: 300px; */
   /* filter: blur(5px); */
}
#posts { 
   display: grid;
   grid-template-rows: 200px;
   grid-template-columns: repeat(5,1fr);
   gap: 15px;
   background-color: #36743a;
   flex-grow: 1;
   width: inherit;
   padding: 1em;
}
#all_posts {
   display: flex;
}

.blur{
   filter: blur(5px);
   /* pointer-events: none; */
   user-select: none;
}
.tooltiptext {
   visibility: hidden;
  width: 150px;
  /* height: 30px; */
  font-size: 0.8rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: ;
  z-index: 1;
}
.author-name:hover .tooltiptext {
   visibility: visible;
   transition: 0.5s;
}
/* LEFT-SIDE CONTENT */
.left-login a {
   background-color: rgb(131, 119, 119);
   /* text-emphasis-color: ; */
   color: white;
   border: 1px dotted black;
   border-radius: 20px;
   padding: 0.5em 1em;
   /* size: 20px; */
}
.left-login h2 {
   align-self: center;
}
.left-login {
   display: flex;
   flex-direction: column;
   /* grid-auto-rows: auto; */
   align-items: center;
   /* justify-content: center; */
   text-align: center;
   height: 350px;
   justify-content: space-evenly;
}
.left-side-page {
   display: flex;
   flex-direction: column;
}