<div class="header">
   <div class="left-side">
   <%= image_tag "pet.png", :class => 'img-header'%>
   <%= content_tag :h2, "PET LOVERS" %>
   </div>
   <div class="right-side">
       <%= content_tag :div, link_to("Home", posts_path) %>
       <%= content_tag :div, link_to("Log in", new_user_session_path)%>
   </div>
</div>