<div class="header">
    <div class="left-side">
     <%= image_tag "pet.png", :class => 'img-header'%>
     <%= content_tag :h2, "PET BOARD" %>
    </div>
    <div class="right-side">
        <%= content_tag :div, link_to("Home", posts_path) %>
        <%= content_tag :div, button_to("Log out", destroy_user_session_path, method: :delete, class: 'logoff-btn')%>
    </div>
</div>