<div class="left-login">

    <h1>New here?</h1>
    <h2>Create an account and make some posts!</h2>
    <%= link_to('Register Now', new_user_registration_path, class: 'left-login-btn')%>
    <%# new_registration_path %>

</div>