<div class="right-side-recent">
    <div class="right-side-title">
        <h1> Random posts! </h1>
    </div>
    <%  @posts.sample(4).reverse.each do |post| %>
    <%= link_to post do %>
        <div class="last-four-posts">
            <%= post.title%>
        </div>
        <%end %>
    <%end%> 
</div>